.top-bar.expanded .title-area, 
.contain-to-grid, 
.top-bar, 
.top-bar-section ul, 
.top-bar-section ul li, 
.top-bar-section .has-form,
.top-bar-section li:not(.has-form) a:not(.button), 
.top-bar-section .dropdown li a, 
.top-bar-section .dropdown li:not(.has-form) a:not(.button), 
.top-bar-section li:not(.has-form) a:not(.button):hover,
.top-bar-section .dropdown li:not(.has-form):not(.active) > a:not(.button),
.top-bar-section .dropdown li.title h5, 
.top-bar-section .dropdown li.parent-link,
.top-bar-section .dropdown li:not(.has-form):not(.active):hover > a:not(.button),
.top-bar .toggle-topbar.menu-icon a,
.top-bar-section ul li:hover:not(.has-form) > a
{
  background: #DDDDDD;
  color: #0E0E0E;
  font-family: 'Roboto', sans-serif;
}

.top-bar-section ul,
.top-bar-section ul li {
    width: 100%;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.row.fullWidth div {
    padding: 0;
}